.card {
	border:1px solid #333;
	padding: 5px;
	/* Add shadows to create the "card" effect */
	box-shadow: 0 4px 8px 0 #111;
	transition: 0.1s;
	margin-bottom: 10px;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
	box-shadow: 0 8px 16px 0 #333;
}
.card h4 {
	margin:0;
}

.card-area {
	padding-left: 24px;
}
.card-area ul {
	margin-left:0;
	padding-left: 0;
}

.card-info-list li {
	margin: 2px;
}