#class-details {
	padding: 0 20px 10px 20px;
	background-color: #23bbb9;
	color: #000;
}
.info {
	color:#fff;
}
#class-details h3 {
	margin:5px 0;
}

.batch-direction {
	font-size: 1.5em;
}
.batch-direction.glyphicon-chevron-right {
	padding-left: 10px;
}
.class {
	padding:10px;
	border-top: 1px solid #25a5a3;
}
.class:first-child {
	border-top: 0px solid #25a5a3;
}
.class-box h3 {
	margin:0;
	height: 30px;
	font-size: 120%;
	color:#25a5a3;
}

.cancelled {
	background: 
		/* On "top" */
	  repeating-linear-gradient(
	    45deg,
	    transparent,
	    transparent 10px,
	    #555 10px,
	    #555 20px
	  );
}

.teacher-name {
	color: #fff;
}

.substituted {
	color: #888 !important;
}
.teacher-name {
	font-weight: bold;
}
.cancel-option {
	width:200px;
}
.cancel-button {
	z-index: 101;
}

.extra {
	background-color: #008080 !important;
}

.teachers {
	margin-top:15px;
}
.teacher {
	margin-top: 5px;
}


/*
#all-teachers {
	display: none;
	width: 90%;
	height: 400px;
	position: absolute;
	top: 5%;
	left: 5%;
	overflow: auto;
}*/