<div class="container" ng-controller="ConnectionCtrl as CCtrl">

<div id="connections" class="row">

<div class="card" id="summary-card" ng-show="CCtrl.user.connections.teacher_at.length">
<h4 ng-click="CCtrl.show_summary = CCtrl.show_summary ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_summary != '0'), 'glyphicon-triangle-right': (CCtrl.show_summary == '0')}"></span>
Summary : <span id="class-summary">{{CCtrl.user.classes_total}} classes</span></h4>

<div class="card-area" ng-show="CCtrl.show_summary == '1'">
	You took <span class="class-metric">{{CCtrl.user.classes_took}}</span> classes<br />
	You missed <span class="class-metric">{{CCtrl.user.classes_missed}}</span> classes
</div>
</div>

<div class="card" id="credit-card" ng-show="CCtrl.user.connections.teacher_at.length">
<h4 ng-click="CCtrl.show_class_history = CCtrl.show_class_history ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_class_history != '0'), 'glyphicon-triangle-right': (CCtrl.show_class_history == '0')}"></span>
Credit : <span class="item-count">{{CCtrl.user.credit}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_class_history == '1'">
	<ul class="class-history">
	<li ng-repeat="class in CCtrl.user.all_classes">{{class.center_name}}, {{class.level_grade}} {{class.level_name}} 
		: {{formatDate(class.class_on) | date:'MMM d EEE, hh:mm a'}}
		- <span class='label label-success' ng-show="class.status == 'attended'">Attended</span>
		  <span class='label label-danger' ng-show="class.status == 'absent'">Absent</span>
	</li>
	</ul>
</div>
</div>

<div class="card" id="unmarked-card" ng-show="CCtrl.user.connections.teacher_at.length">
<h4 ng-click="CCtrl.show_student_data_not_updated = CCtrl.show_student_data_not_updated ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_student_data_not_updated != '0'), 'glyphicon-triangle-right': (CCtrl.show_student_data_not_updated == '0')}"></span>
Your Classes that are not updated : <span class="item-count badge badge-error">{{CCtrl.user.student_data_not_updated_length}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_student_data_not_updated == '1'">
	<ul class="card-info-list">
	<li ng-repeat="(id, date) in CCtrl.user.student_data_not_updated" ng-click="CCtrl.teachClass(id)" class="btn btn-primary btn-sm">
		{{formatDate(date) | date:'MMM d EEE, hh:mm a'}}
	</li>
	</ul>
</div>
</div>

<div class="card" id="unmarked-class-batch-card" ng-show="CCtrl.user.connections.mentor_at.length">
<h4 ng-click="CCtrl.show_class_student_data_not_updated = CCtrl.show_class_student_data_not_updated ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_class_student_data_not_updated != '0'), 'glyphicon-triangle-right': (CCtrl.show_class_student_data_not_updated == '0')}"></span>
Classes that are not updated by any teacher : <span class="badge badge-error item-count">{{CCtrl.user.classes_where_student_data_not_updated_length}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_class_student_data_not_updated == '1'">
	<ul class="card-info-list">
	<li ng-repeat="(id, name) in CCtrl.user.classes_where_student_data_not_updated" ng-click="CCtrl.teachClass(id)" class="btn btn-primary btn-sm">{{name}}</li>
	</ul>
</div>
</div>

<div class="card" id="unmarked-batch-card" ng-show="CCtrl.user.connections.mentor_at.length">
<h4 ng-click="CCtrl.show_class_volunteer_data_not_updated = CCtrl.show_class_volunteer_data_not_updated ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_class_volunteer_data_not_updated != '0'), 'glyphicon-triangle-right': (CCtrl.show_class_volunteer_data_not_updated == '0')}"></span>
Batches not updated : <span class="badge badge-error item-count">{{CCtrl.user.volunteer_data_not_updated.length}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_class_volunteer_data_not_updated == '1'">
	<ul class="card-info-list">
	<li ng-repeat="cls_data in CCtrl.user.volunteer_data_not_updated" ng-click="CCtrl.mentorClass(cls_data.batch_id, cls_data.class_on)" class="btn btn-primary btn-sm">
		{{formatDate(cls_data.class_on) | date:'MMM d EEE, hh:mm a'}}
	</li>
	</ul>
</div>
</div>

<div class="card" id="negative-teachers-card" ng-show="CCtrl.user.connections.mentor_at.length">
<h4 ng-click="CCtrl.show_teachers_with_negative_credits = CCtrl.show_teachers_with_negative_credits ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_teachers_with_negative_credits != '0'), 'glyphicon-triangle-right': (CCtrl.show_teachers_with_negative_credits == '0')}"></span>
Teachers with Negative Credits : <span class="item-count">{{CCtrl.user.teachers_with_negative_credits.length}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_teachers_with_negative_credits == '1'">
	<ul class="card-info-list">
	<li ng-repeat="teacher in CCtrl.user.teachers_with_negative_credits">
		{{teacher.name}} : {{teacher.credit}}
	</li>
	</ul>
</div>
</div>

<div class="card" id="substitution-card" ng-show="CCtrl.user.connections.mentor_at.length">
<h4 ng-click="CCtrl.show_substitution_info = CCtrl.show_substitution_info ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_substitution_info != '0'), 'glyphicon-triangle-right': (CCtrl.show_substitution_info == '0')}"></span>
Substitution : <span class="item-count">{{CCtrl.user.substitution_info.substitution_percentage}}%</span></h4>

<div class="card-area" ng-show="CCtrl.show_substitution_info == '1'">
	<ul class="card-info-list">
	<li ng-repeat="cls in CCtrl.user.substitution_info.last_5_classes">
		{{formatDate(cls.date) | date:'MMM d EEE, hh:mm a'}} : {{cls.percentage}} %
	</li>
	</ul>
</div>
</div>

<!-- <h3 class="teacher-name">Hi,&nbsp;{{CCtrl.user.name}}</h3><br /> -->

<div class="classes">

<div class="mentor_at" ng-show="CCtrl.user.connections.mentor_at.length">
	<h4>Mentor Classes</h4>
	<div class="btn-group-vertical" role="group">
	<button ng-repeat="con in CCtrl.user.connections.mentor_at" class="btn btn-primary" name="choose" id="class-{{con.id}}" 
		title="{{con.class_time}}" ng-click="CCtrl.mentorClass(con.batch_id)">{{con.center_name}}, <span ng-bind="formatDate(con.class_on) | date:'MMMM d EEE, hh:mm a'"></span></button>
	</div>
	<br />
</div>

<div class="teacher_at" ng-show="CCtrl.user.connections.teacher_at.length">
	<h4>Teacher Classes</h4>
	<div class="btn-group-vertical" role="group">
	<button ng-repeat="con in CCtrl.user.connections.teacher_at" class="btn btn-primary" name="choose" id="class-{{con.id}}" 
		title="{{con.class_time}}" ng-click="CCtrl.teachClass(con.class_id)">{{con.center_name}},  {{con.level}} - <span ng-bind="formatDate(con.class_on) | date:'MMMM d EEE, hh:mm a'"></span></button>
	</div>
</div>

<h4>Enter Data for Another Classes</h4>

<a class="btn btn-info" href="#select_class">Select Class</a>

<h4>Extra Class</h4>

<a class="btn btn-info" href="#extra_class?batch_id={{CCtrl.user.connections.mentor_at[0].batch_id}}" ng-show="CCtrl.user.connections.mentor_at.length === 1">Create Extra Class in your Batch</a>

<a class="btn btn-info" href="#select_class?action=extra_class" ng-show="CCtrl.user.connections.mentor_at.length !== 0">Create Extra Class</a>

</div>

</div>
</div>