<div class="container" ng-controller="ExtraClassCtrl as ECtrl" ng-init="ECtrl.load()">

<div class="row">
<h3>Create Extra Class</h3>
</div>

<form method="post" role="form" ng-submit="ECtrl.save()">

<ng-datepicker ng-model="ECtrl.class_on" class="datepicker-input" placeholder="Choose the date for the extra class"></ng-datepicker>

<div class="levels">
<h4>Select Class Sections</h4>
<div class="level" ng-repeat="level in ECtrl.levels" class="row">
<input name="level[{{level.id}}]" id="level-{{level.id}}" type="checkbox" value="{{level.id}}" ng-model="level.selected" />
<label for="level-{{level.id}}">{{level.grade}} {{level.name}}</label>
</div>
</div>

<button class="btn btn-lg btn-bottom btn-block" type="submit" name="action" value="Save">Save</button><br />
</form>

</div>
