<div class="container" ng-controller="MentorCtrl as MCtrl" ng-init="MCtrl.load()">

<div id="class-details" class="row ng-class:MCtrl.mentor.classes[0].class_type">
<strong>Center:</strong> <span class="info">{{MCtrl.mentor.center_name}}</span><br />
<strong>Project:</strong> <span class="info">{{MCtrl.projects[MCtrl.mentor.project_id]}}</span><br />
<strong>Date:</strong>
<a class="glyphicon glyphicon-chevron-left batch-direction" ng-click="MCtrl.browseClass(MCtrl.mentor.batch_id, MCtrl.mentor.class_on, '-')"></a> 
	<span class="info">{{MCtrl.mentor.class_date}}, 
	<a href="#select_class?center_id={{MCtrl.mentor.center_id}}" class="btn btn-xs btn-primary">
		<span class="glyphicon glyphicon-book"></span> {{MCtrl.mentor.batch_name}}</a></span>
<a class="glyphicon glyphicon-chevron-right batch-direction" ng-click="MCtrl.browseClass(MCtrl.mentor.batch_id, MCtrl.mentor.class_on, '+')"></a> 
</div>

<form method="post" role="form" ng-submit="MCtrl.save(MCtrl.mentor.batch_id, MCtrl.mentor.class_on, MCtrl.mentor.classes)">
<input type="hidden" name="batch_id" value="{{MCtrl.mentor.batch_id}}" />
<input type="hidden" name="class_on" value="{{MCtrl.mentor.class_on}}" />

<div class="classes">
<div class="class" ng-repeat="class in MCtrl.mentor.classes" ng-class="(class.class_status == '1' ? 'active' : 'cancelled')">
<div class="class-box" id="class-{{class.id}}">
<button type="button" class="btn btn-default btn-xs pull-right cancel-button" name="cancel" id="cancel-button-{{class.id}}" 
	title="Cancel Class" ng-click="MCtrl.cancelClass(class)"><span class="glyphicon glyphicon-remove-sign"></span> Cancel Class</button>

<button class="btn btn-primary btn-xs class-open" id="class-open-{{class.id}}" ng-click="MCtrl.gotoClass(class)" ng-disabled="class.class_status == '0'">
	<strong><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span> Class {{class.grade}} {{class.level_name}}</strong></button>

<div class="pull-right cancel-area" ng-show="(class.class_status == '0')">
<select ng-model="class.cancel_option" class="cancel-option" required>
	<optgroup label="Internal(MAD)">
		<!-- <option value="in-volunteer-unavailable">Volunteer unavailabe to take class</option> -->
		<option value="in-volunteer-unassigned">Volunteer is yet to be recruited</option>
		<option value="in-volunteer-engaged">MAD has an event</option>
		<option value="in-other">Other</option>
	</optgroup>
	<optgroup label="Digital Infrastructure">
		<option value="in-infra-internet-issue">Internet issue</option>
		<option value="in-infra-power-issue">Power issue</option>
		<option value="in-infra-device-issue">Device Issue</option>
	</optgroup>
	<optgroup label="Shelter">
		<option value="ext-children-out-holiday">Children have gone back home</option>
		<option value="ext-children-doing-chores">Children are doing chores</option>
		<option value="ext-parent-visiting-shelter">Parents visiting the shelter</option>
		<option value="ext-donor-visit">Donor Visit</option>
		<option value="ext-shelter-annual-event">Annual Day/Annual Events</option>
		<option value="ext-shelter-religious-event">Religious Festivals</option>
		<option value="ext-shelter-medical-event">Medical Checkup</option>
		<option value="ext-shelter-workshop">Workshops</option>
		<option value="ext-shelter-cwc-visit">CWC Visit</option>
	</optgroup>
	<optgroup label="External">
		<option value="ext-holiday">Holiday</option>
		<option value="ext-children-unwell">Children are unwell</option>
		<option value="ext-out-school">Children have school</option>
		<option value="ext-children-exam-prep">Exam Preparation</option>
		<option value="ext-disturbances-city">Disturbances in the city/Local holiday/Natural calamity</option>
		<option value="ext-other">Other</option>
	</optgroup>
</select><br />

<textarea class="cancel-reason" rows="2" cols="25" ng-model="class.cancel_reason" ng-show="(class.cancel_option == 'in-other' || class.cancel_option == 'ext-other')"></textarea>
</div>

<div class="teachers">
	<div class="teacher" ng-repeat="teacher in class.teachers" class="row">
	<div class="pull-right attendance-area" ng-show="(class.class_status == '1')">
	<input class="toggle-switch ts-attendance" ng-model="teacher.status" id="attendance-{{class.index}}-{{teacher.id}}" data-toggle="toggle"
			data-height="25" data-width="70" data-size="small" type="checkbox" value="1" class-index="{{class.index}}" teacher-index="{{teacher.index}}">
			<!-- <br /> -->

	
	<!-- <span ng-show="(teacher.status == true)" class="zero-hour-area" id="zero-hour-area-{{class.index}}-{{teacher.index}}"> -->
	<input class="toggle-switch ts-zero-hour" ng-model="teacher.zero_hour_attendance" id="zero-hour-{{teacher.id}}" data-toggle="toggle" 
		data-height="25" data-width="120" data-size="small" type="checkbox" value="1" class-index="{{class.index}}" teacher-index="{{teacher.index}}">
	<!-- </div> -->
	</div>
	

	<span ng-show="class.class_status == '1'">
		<select id="vol-type" ng-model="teacher.vol_type" ng-change="MCtrl.changeVolunteerType(teacher)">
			<option value="Regular">Regular</option>
			<option value="Substitute">Substitute</option>
		</select>
	</span>
	<span ng-show="(class.class_status == '1')" ng-class="{'text-muted': (teacher.show_substitute == '1')}">
		<span class="glyphicon glyphicon-user user-icon"></span> {{teacher.name}}</span>
	

	<div id="substitute-{{teacher.id}}" class="substitute-area" ng-show="teacher.show_substitute != 0">
		<label>Substitute Name: </label>
		<select name="substitute[{{teacher.id}}]" ng-model="teacher.substitute_id" id="sub-{{teacher.id}}">
			<option ng-repeat="sub in MCtrl.all_teachers" value="{{sub.id}}">{{sub.name}}</option>
		</select>
	</div><br />
	</div>
</div>

</div>
</div>
</div>

<button class="btn btn-lg btn-bottom btn-block" type="submit" name="action" value="Save">Save</button><br />
</form>

<!-- <a href="{{MCtrl.base_url}}../classes/assign/{{MCtrl.mentor.center_id}}/{{MCtrl.mentor.batch_id}}" class="btn btn-primary btn-sm">
<span class="glyphicon glyphicon-pencil"></span> Edit Batch Assignment
</a> -->
</div>