<div class="container" ng-controller="TeacherCtrl as TCtrl" ng-init="TCtrl.load()">

<form method="post" role="form" ng-submit="TCtrl.save(TCtrl.teacher.id, TCtrl.teacher.students, TCtrl.teacher.class_satisfaction)" class="{{TCtrl.teacher.status}}">
<div id="class-details" class="row">
<h4 class="teacher-credits" ng-show="TCtrl.current_teacher_credit">Credit: {{TCtrl.current_teacher_credit}}</h4>
<h3>{{TCtrl.current_teacher}}</h3>
<h4 ng-show="TCtrl.other_teacher">Co Teacher(s): {{TCtrl.other_teacher}}</h4>
<h4>Level: {{TCtrl.teacher.level}}</h4>

<h5 class="class_satisfaction_label">Teacher Class Satisfaction</h5>
<input type="number" name="class_satisfaction" id="class_satisfaction" ng-model="TCtrl.teacher.class_satisfaction" class="rating class_satisfaction" min="0" max="5" step="1"
	   data-size="xs" data-show-caption="true" data-clear-value="0" data-clear-caption="Unknown" value="0" required/>

<!-- <a href="#mentor_attendance?class_id={{TCtrl.class_id}}&date={{TCtrl.teacher.class_on.split(' ')[0]}}&center_name={{TCtrl.teacher.center_name}}" 
	class="btn btn-primary btn-sm">Who did you see on ground today?</a><br /> -->

<strong>Center:</strong> <span class="info">{{TCtrl.teacher.center_name}}</span><br />
<strong>Date:</strong>
<a class="glyphicon glyphicon-chevron-left directions batch-direction" ng-click="TCtrl.browseClass(TCtrl.user_id, TCtrl.teacher.class_on, '-')"></a> 
<span class="info">{{TCtrl.teacher.class_time}}</span>
<a class="glyphicon glyphicon-chevron-right directions batch-direction" ng-click="TCtrl.browseClass(TCtrl.user_id, TCtrl.teacher.class_on, '+')"></a> 
</div>

<div ng-show="TCtrl.is_event" class='impact-survey-trigger'>
	<span ng-repeat="(is_event_id, is_event_name) in TCtrl.is_event">
		Please fill out the <a href="#impact_survey?is_event_id={{is_event_id}}">Impact Survey {{is_event_name}}</a> for your students.
	</span>
</div>
<span id="dc_impact_survey">We would like to get some infomation on how your students have been impacted by Dream Camp...
<ul>
	<li ng-repeat="student in TCtrl.teacher.students">
		<a href="https://makeadiff.in/apps/formad/79/{{student.id}}">{{student.name}}</a>
	</li>
</ul>
</span>


<input type="hidden" name="class_id" value="{{TCtrl.teacher.id}}" />
<div id="students" class="{{TCtrl.teacher.status}}"> 

<div class="student row" ng-repeat="student in TCtrl.teacher.students">
	<span class="attendance"></span>
	<div class="row">
		<span class="student-name">{{student.name}}</span>
		<br/>

		<div class="pull-right">
			<input  class=" toggle-switch ts-attendance" ng-model="student.present" id="present-{{student.id}}" data-toggle="toggle" 
				data-height="25" data-width="110"  type="checkbox"  student-id="{{student.id}}" student-index="{{$index}}"><br />
		</div>

		<div id="participation-container-{{student.id}}">
			<strong>Child Participation</strong>
			<input type="number" name="participation[{{student.id}}]" id="participation-{{student.id}}" ng-model="student.participation" 
					class="rating participation" min="0" max="5" step="1" 
					data-size="xs" data-show-caption="true"  />
		</div>

		<div id="check_for_understanding-container-{{student.id}}">
			<strong>Check for Understanding</strong>
			<input type="number"  id="check_for_understanding-{{student.id}}" ng-model="student.check_for_understanding"
				class="rating check_for_understanding" min="0" max="5" step="1" 
				data-size="xs" data-show-caption="true"  />
		</div>
	</div>
</div>

<button class="btn btn-lg btn-bottom btn-block" type="submit" name="action" value="Save" ng-disabled="TCtrl.teacher.status == 'cancelled'">Save</button><br />
</div>
</form>

</div>