<div class="container" ng-controller="ConnectionCtrl as CCtrl">

<div id="connections" class="row">

<div class="card">
<h4 ng-click="CCtrl.show_summary = CCtrl.show_summary ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_summary != '0'), 'glyphicon-triangle-right': (CCtrl.show_summary == '0')}"></span>
Summary : <span id="class-summary">{{CCtrl.user.classes_total}} classes</span></h4>

<div class="card-area" ng-show="CCtrl.show_summary == '1'">
	You took <span class="class-metric">{{CCtrl.user.classes_took}}</span> classes<br />
	You missed <span class="class-metric">{{CCtrl.user.classes_missed}}</span> classes
</div>
</div>

<div class="card" id="credit-card">
<h4 ng-click="CCtrl.show_class_history = CCtrl.show_class_history ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_class_history != '0'), 'glyphicon-triangle-right': (CCtrl.show_class_history == '0')}"></span>
Credit : <span id="current-credit">{{CCtrl.user.credit}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_class_history == '1'">
	<ul class="class-history">
	<li ng-repeat="class in CCtrl.user.all_classes">{{class.center_name}}, {{class.level_grade}} {{class.level_name}} 
		: {{formatDate(class.class_on) | date:'MMM d EEE, hh:mm a'}}
		- <span class='label label-success' ng-show="class.status == 'attended'">Attended</span>
		  <span class='label label-danger' ng-show="class.status == 'absent'"">Absent</span>
	</li>
	</ul>
</div>
</div>

<div class="card" id="unmarked-card">
<h4 ng-click="CCtrl.show_unmarked_classes = CCtrl.show_unmarked_classes ? 0 : 1;">
<span ng-class="{'glyphicon':true, 'glyphicon-triangle-bottom': (CCtrl.show_unmarked_classes != '0'), 'glyphicon-triangle-right': (CCtrl.show_unmarked_classes == '0')}"></span>
Classes not updated : <span id="current-credit">{{CCtrl.user.unmarked_classes_length}}</span></h4>

<div class="card-area" ng-show="CCtrl.show_unmarked_classes == '1'">
	<ul class="unmarked-classes">
	<li ng-repeat="(id, date) in CCtrl.user.unmarked_classes" ng-click="CCtrl.teachClass(id)" class="btn btn-primary btn-sm">
		{{formatDate(date) | date:'MMM d EEE, hh:mm a'}}
	</li>
	</ul>
</div>
</div>
<!-- <h3 class="teacher-name">Hi,&nbsp;{{CCtrl.user.name}}</h3><br /> -->

<div class="classes">

<div class="mentor_at" ng-show="CCtrl.user.connections.mentor_at.length">
	<h4>Mentor Classes</h4>
	<div class="btn-group-vertical" role="group">
	<button ng-repeat="con in CCtrl.user.connections.mentor_at" class="btn btn-primary" name="choose" id="class-{{con.id}}" 
		title="{{con.class_time}}" ng-click="CCtrl.mentorClass(con.batch_id)">{{con.center_name}}, <span ng-bind="formatDate(con.class_on) | date:'MMMM d EEE, hh:mm a'"></span></button>
	</div>
	<br />
</div>

<div class="teacher_at" ng-show="CCtrl.user.connections.teacher_at.length">
	<h4>Teacher Classes</h4>
	<div class="btn-group-vertical" role="group">
	<button ng-repeat="con in CCtrl.user.connections.teacher_at" class="btn btn-primary" name="choose" id="class-{{con.id}}" 
		title="{{con.class_time}}" ng-click="CCtrl.teachClass(con.class_id)">{{con.center_name}},  {{con.level}} - <span ng-bind="formatDate(con.class_on) | date:'MMMM d EEE, hh:mm a'"></span></button>
	</div>
</div>

<h4>Select Another Classes</h4>

<a class="btn btn-info" href="#select_class">Select Class</a>

<h4>Extra Class</h4>

<a class="btn btn-info" href="#extra_class">Create Extra Class</a>

</div>

</div>
</div>