<div class="container">
<form method="post" class="form-signin" role="form" ng-controller="LoginCtrl as login" ng-submit="login.loginUser(user)">
<h2 class="form-signin-heading">Login</h2>

<input type="text" id="username" class="form-control" placeholder="Username" name="username" required autofocus ng-model="user.username">
<input type="password" id="password" class="form-control" placeholder="Password" name="password" required ng-model="user.password">
<a href="#/forget-password" id="forget-password" class="pull-right">Forgot Password?</a>

<input type="checkbox" value="1" name="remember" checked="checked" ng-model="user.remember"> <label for="remember">Remember me</label>

<button class="btn btn-lg btn-primary btn-block" type="submit" name="action" value="Login">Sign in</button><br />

<div class="error-message">{{login.error}}</div>
</form>

</div>