<div class="container" ng-controller="MentorReportCtrl as MRCtrl" id="top-container">

<div id="class-details" class="row">
<h3>{{MRCtrl.title}}</h3>

<h4>{{MRCtrl.user.name}}</h4>
<strong>Center:</strong> <span class="info">{{MRCtrl.user.connections.mentor_at[0].center_name}}</span><br />
<strong>Batch:</strong> <span class="info">{{MRCtrl.user.connections.mentor_at[0].batch_name}}</span><br />
<p class="description">{{MRCtrl.description}}</p>
</div>

<div class="teacher-details" class="row" ng-show="MRCtrl.report">
<table id="report-table">
<tr class="header"><th></th><th>Last {{MRCtrl.max_class_count < 6 ? MRCtrl.max_class_count : 6}}<br />Classes</th><th>All Class<br />Till Date</th></tr>

<tr ng-repeat-start="level in MRCtrl.report">
<td colspan="3" class="level-name">{{level.name}}</td>
</tr>

<tr ng-repeat="unit in level[MRCtrl.data_unit]">
	<td class="teacher-name">{{unit.name}}</td><td><span class="rating {{unit.six.rating}}">{{unit.six.percentage}}%</span></td>
	<td><span class="rating {{unit.all.rating}}">{{unit.all.percentage}}%</span></td>
</tr>

<tr class="hide" ng-repeat-end></tr>

</table>

</div>
</div>
