<div class="container" ng-controller="SelectClassCtrl as SCCtrl">

<div id="connections" class="row">
<h3 class="teacher-name">Hi,&nbsp;{{SCCtrl.user.name}}</h3>
<br />
<div class="centers">

<h4>Choose Center...</h4>
<div class="btn-group-vertical" role="group">
<button ng-repeat="center in SCCtrl.centers" class="btn btn-primary ng-class:{'btn-info': (SCCtrl.selected_center == center.id) }" id="center-{{center.id}}"
	title="{{center.name}}" ng-click="SCCtrl.selectCenter(center.id)">{{center.name}}</span></button>
</div>
</div>

<div class="batches" ng-show="SCCtrl.batches">
<h4>Choose Batch...</h4>
<div class="btn-group-vertical" role="group">
<button ng-repeat="batch in SCCtrl.batches" class="btn btn-primary ng-class:{'btn-info': (SCCtrl.selected_batch == batch.id) }" 
	ng-disabled="SCCtrl.isBatchActive(batch.id)" id="batch-{{batch.id}}"
	title="{{batch.name}}" ng-click="SCCtrl.selectBatch(batch.id)">{{batch.name}}</span></button>
</div>
</div>

<div class="levels" ng-show="SCCtrl.levels">
<h4>Choose Level...</h4>
<div class="btn-group-vertical" role="group">
<button ng-repeat="level in SCCtrl.levels" class="btn btn-primary ng-class:{'btn-info': (SCCtrl.selected_level == level.id) }" 
	ng-disabled="SCCtrl.isLevelActive(level.id)" id="level-{{level.id}}"
	title="{{level.name}}" ng-click="SCCtrl.selectLevel(level.id)">{{level.name}}</span></button>
</div>
</div>

</div>
</div>