<div class="container" ng-controller="TeacherReportCtrl as RCtrl" id="top-container">

<div class = "container">
	<div id="class-details">
		<h3>{{RCtrl.title}}</h3>

		<h4>{{RCtrl.user.name}}</h4>
		<strong>Center:</strong> <span class="info">{{RCtrl.user.connections.teacher_at[0].center_name}}</span><br />
		<strong>Level:</strong> <span class="info">{{RCtrl.user.connections.teacher_at[0].level}}</span><br />
		<p class="description">{{RCtrl.description}}</p>
	</div><!--/class-details-->

	<div class="student-details table-responsive" ng-show="RCtrl.report">
		<table id="report-table" class ="table">
		 	<thead>	
				<tr class="header">
					<th></th>
					<th>Last {{RCtrl.report[0].six.total}}<br/>Classes</th>
					<th>Last {{RCtrl.report[0].all.total}}<br/>Classes</th>
				</tr>
		 	</thead>	
	     
	     	<tbody>
				<tr ng-repeat="student in RCtrl.report">
					<td class="student-name">{{student.name}}</td>
					<td><span class="rating {{student.six.rating}}">{{student.six.percentage}}%</span></td>
					<td><span class="rating {{student.all.rating}}">{{student.all.percentage}}%</span></td>
				</tr>
		 	</tbody>	 
		</table>
	</div><!--/student-details-->
</div><!--/container-->	

<div class = "row legend_display">
	<div class = "col-md-3"> Legend </div>
	<div class = "col-md-3"> <span class = "label label-default green"> 80-100% </span> </div>
	<div class = "col-md-3"> <span class = "label label-default yellow"> 60-80% </span> </div>
	<div class = "col-md-3"> <span class = "label label-default red"> 0-60% </span> </div>
</div>  

</div>
