#class-details {
	padding: 0 20px 10px 20px;
	background-color: #23bbb9;
	color: #000;
} 
.info {
	color:#fff;
}
#class-details h3 {
	margin:5px 0;
}
#students {
	margin-left: 20px;
	background: none;
}

.student-name {
	font-size: 120%;
}
.student {
	padding:10px;
	border-top: 1px solid #25a5a3;
}

.student:first-child {
	border-top: 0px solid #25a5a3;
}
.teacher-credits {
	float: right;
}

.cancelled {
	background: 
		/* On "top" */
	  repeating-linear-gradient(
	    45deg,
	    transparent,
	    transparent 10px,
	    #555 10px,
	    #555 20px
	  );
}

/*.cancelled * {
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier * /
}*/

.directions {
	cursor: pointer;
}

.class_satisfaction_label {
	font-size: 120%;
	margin-bottom: 0;
}
.check-for-understanding {
	padding-top:35px;
}
